<% if false %>
	<head>
		<style type="text/css">
			#topps_footer {background-color: <%= @team.color %>;}
		</style>
	</head>
<% end %>
<div id="footer">
	<div id="footer_content_wrap">
		<%=link_to image_tag("mlb_logo.gif", class: "pngimg", id: "mlb_logo"), "http://mlb.mlb.com/index.jsp", :target => "_blank" %>
		
		<%= link_to image_tag("players_assoc_logo.png", class: "pngimg", id: "mlbpa_logo", style: "top: +=5px;"), "http://mlbplayers.mlb.com/pa/index.jsp", :target => "_blank" %> 


		<div id="footer_text" >
		© 2012 The Topps Company, Inc. All Rights Reserved. TOPPS® AND TOPPS PENNANT ARE TRADEMARKS OF THE TOPPS COMPANY, INC.  |   <%= link_to "Terms & Conditions", :terms %>  | <%= link_to "Privacy Policy", :privacy %> | <%= link_to "Giveaway Rules", :giveaway_rules %> | <a href="http://topps.com/contact" target="_blank">Contact Topps</a> |
		   
		<br />
		Major League Baseball trademarks and copyrights are used with permission of <a href="http://mlb.mlb.com/index.jsp">MLB.com</a>. All rights reserved. Visit <a "http://mlb.mlb.com/index.jsp" target="_blank">MLB.com</a>. <br />
		LICENSED BY MLBPA, 2012. © MLBPA. OFFICIAL LICENSEE – MAJOR LEAGUE BASEBALL PLAYERS ASSOCIATION. iTunes®, iPad® and iPhone® are registered trademarks of Apple Inc. 
	</div>
	</div>

</div> 
