<%= stylesheet_link_tag "header" %>
<% if false %>
	<head>
		<style type="text/css">
			#header, .link_div {
				background-color: <%= @team.color %>;
			}
			.link_div .inner_box a {color: white;}
		</style>
	</head>
<% end %>

<div id="header">
	<div id="header_content_wrap">
		<div class="link_div "><div class="inner_box"><%= link_to  "TOPPS BUNT", "http://bunt.topps.com" %></div></div>
		
		<% if @current_action == "welcome" %>
			<div class="link_div "><div class="inner_box"><%= link_to "TIME CAPSULE", "/timecapsule" %></div></div>
			<div class="link_div link_div_current"><div class="inner_box">TOPPS PENNANT</div></div>
		<% elsif @current_action == "timecapsule" %>
			<div class="link_div link_div_current"><div class="inner_box">TIME CAPSULE</div></div>
			<div class="link_div "><div class="inner_box"><%= link_to  "TOPPS PENNANT", :welcome %></div></div>
		<% else %>
			<div class="link_div "><div class="inner_box"><%= link_to "TIME CAPSULE", "/timecapsule" %></div></div>
			<div class="link_div link_div_current"><div class="inner_box"><%= link_to  "TOPPS PENNANT", :welcome %></div></div>
		<% end %>
		<%= link_to (image_tag "white_topps_logo.png", id: "white_topps_logo"), "http://www.topps.com" %>
		<%= image_tag "mailinglist.png", id: "mailing_list_signup_button", style: "z-index: 1000;" %>
	</div>
</div>
<%= render partial: "mailing_list_overlay" %>

<script>
$(document).ready(function() {
    console.log("hi ");
    $("#mailing_list_signup_button").click(function(e){
    	console.log("hi hih ih");
        if($("#email_list_overlay").css("display") === "none") {
          $("#email_list_overlay").show();
          $("#sms_overlay").hide();
        }
        else {
          $("#email_list_overlay").hide();
        }
         });

 });



</script>