<%= stylesheet_link_tag "email_list_overlay" %>

<div id="email_list_overlay">
<div id="window">
    <%= image_tag "close_box.gif", id: "close_box" %>
    <%= form_tag :email_list_signup, :remote => true, :id => "email_list_form" do |f|%>
      Signup for our email list<br><br>
      Email: 
       <%= text_field_tag "address" %>
       <br><br>
      Favorite team: 
       <%= select_tag(:team, options_for_select(team_name_id_pairs), id: "team_select") %>
       <br><br>
       <%= image_submit_tag("submit_button.png", :id => "sms_submit", style: "height: 45px;") %>
    <% end %>

  </div>
 </div>




<script>

  $(document).ready(function() {
    $("#email_list_overlay #close_box").click(function() {
      $("#email_list_overlay").hide();});

   $("#email_list_form").bind('ajax:before', function(data, status, xhr) {
    alert("Thank you for your submission!  You've been added to our email list!");
    $("#email_list_overlay").hide();
    });

  });

</script>