<%= stylesheet_link_tag "sms_overlay" %>
<div id="sms_overlay">
  <div id="window">
    <%= image_tag "close_box.gif", id: "close_box" %>
    <%= form_tag :send_link, :remote => true, :id => "sms_overlay_form" do |f|%>
      <h4>SEND YOURSELF A LINK TO THE APP STORE</h4>
      <h4>BY text: </h4>
       <%= telephone_field_tag "phone_number" %>
       <br>
       <span>Example: +12125551212</span>
       <br/>
       <br/>
       <h4>Or by email:</h4>

       <%= text_field_tag "email_address" %>
       <br><br>
       <%= submit_tag "Submit", :id => "sms_submit" %>
       <% end %>

  </div>

</div>










</div>

<script>
  $(document).ready(function() {

    $("#sms_overlay")
      .bind('ajax:beforeSend', function() {
        $("#sms_submit").attr("disabled", "disabled");
        $("#sms_submit").text("Sending message...")
        $("#phone_number").attr("value", "");

      })
      .bind('ajax:success', function() {
        alert("Message Sent!");
        $(this).hide();
        $("#sms_submit").removeAttr("disabled");
        $("#sms_submit").text("Submit")

      })
      .bind('ajax:error', function() {
        alert("something went wrong...please try again");
        $("#sms_submit").removeAttr("disabled");
        $("#sms_submit").text("Submit")




      });
      $("#sms_overlay #close_box").click(function() {
        $("#sms_overlay").hide();

     });

      
  });
// $(document).ready(function() {
//   $("#sms_overlay #close_box").click(function() {
//     $("#sms_overlay").hide();

//   });


// });


</script>