<%= stylesheet_link_tag "sms_overlay" %>
<div id="sms_overlay">
  <div id="window">
    <%= image_tag "close_box.gif", id: "close_box" %>
    <%= form_tag :send_link, :remote => true, :id => "sms_overlay_form" do |f|%>
      <h4>SEND YOURSELF A LINK TO THE APP STORE</h4>
      <h4>BY text: </h4>
       <%= telephone_field_tag "phone_number" %>
       <br>
       <span>Example: 212-555-1212</span>
       <br/>
       <br/>
       <h4>Or by email:</h4>

       <%= text_field_tag "email_address" %>
       <br><br>
       <%= submit_tag "Submit", :id => "sms_submit" %>
       <% end %>

  </div>

</div>










</div>

<script>
  $(document).ready(function() {

    $("#sms_overlay").bind('ajax:beforeSend', function() {
        $("#sms_overlay").hide();
        alert("Thank you!  You will receive a link shortly!");
        $("#phone_number").attr("value", "");
        $("#email_address").attr("value", "");



      });




      $("#sms_overlay #close_box").click(function() {
        $("#sms_overlay").hide();

     });

      
  });


</script>