<%= stylesheet_link_tag "sms_overlay" %>
<div id="sms_overlay">
  <div id="window">
    <%= image_tag "close_box.gif", id: "close_box" %>
    <%= form_tag :send_link, :remote => true, :id => "sms_overlay_form" do |f|%>
      Send yourself a link <br>
        to the App Store<Br><br>
      By text:
       <%= telephone_field_tag "phone_number" %>
       <br>
       <br/>
       By email:

       <%= text_field_tag "email_address" %>
       <br><br>
       <%= image_submit_tag("submit_button.png", :id => "sms_submit", style: "height: 45px;") %>
       <% end %>

  </div>

</div>









</div>

<script>
  $(document).ready(function() {

    $("#sms_overlay").bind('ajax:beforeSend', function() {
        $("#sms_overlay").hide();
        alert("Thank you!  You will receive a link shortly!");
        $("#phone_number").attr("value", "");
        $("#email_address").attr("value", "");



      });




      $("#sms_overlay #close_box").click(function() {
        $("#sms_overlay").hide();

     });

      
  });


</script>