<%= stylesheet_link_tag "timecapsule" %>
<% if browser.mobile? %>
  <head>    <meta name="viewport" content="width=1400,
                                 maximum-scale=1.0">
</head>
  <style type="text/css">
    #footer {
      width: 1400px;
    }
    #header {
      width: 1400px;
    }

  </style>
<% end %>
<div id="top">
		<div id="upper_tagline">
      <em>How rich is your team’s history?</em><br>
			<span id="smaller">Share your favorite memories to win autographed prizes!<span>
		</div>

</div>
<br>
<div id="side_content">
    <%= image_tag "time_capsule_logo.png", :id => "logo" %>

		<%= link_to (content_tag(:div, "", id: "appstore_logo")), "http://bit.ly/I9RkAM", :id => "app_store_link" %><br>
	

		<span style="padding-left: 8%; position: relative; top: -200px; left: -10px;"> Available for iPhone and iPad. </span>

    <%= render partial: "social_box" %>
    <%= render partial: "twitter_feed" %>

</div>

<div  id="main_content">

	<div id="map">
		<%= image_tag "blank_us_map.png", :id => "blank_map" %>
		<% @teams.each do |team| %>
    <% unless @browser.ie? && !@browser.ie9? %>
      <a href="/<%= team.name %>?redirect=false"><div class="small_team_disc" id="<%=team.name%>"><%= image_tag "team_logos/" + team.name + "_logo.png" %></div>
      <div class="large_team_disc" id="<%=team.name%>"><%= image_tag "team_logos/" + team.name + "_logo.png" %></div></a>
    <% else %>
      <a href="/<%= team.name %>?redirect=false"><div class="ie_small_team_disc" id="<%=team.name%>">
        <%= image_tag "team_logos/" + team.name + "_logo.png", :id => "ie_logo" %>
        <%= image_tag "blank_discs/" + team.name + "_blank_color_disc.png", :id => "ie_disc"%>
      </a>
      </div>
    <% end %>

		<% end %>

	</div>
</div> 
<script>
  $(document).ready(function(){
    console.log("hi magz");
    $(".small_team_disc").mouseover(function(){
      var this_id = $(this).attr("id");
      $(".large_team_disc#" + this_id).show();
    });
    
    $(".large_team_disc").mouseleave(function(){
      $(this).hide();

    });
  




  });



</script>



</div>
  <div id="howto_open"> <%= link_to image_tag("howto_tab.png", class: "pngimg", :style => "float:right; position: absolute; right: 0px; top: 75px; height: 10%;"), "", id: "howto_open" %></div>

  <%#= link_to (image_tag "howto_tab.png", :style => "float:right; position: absolute; right: 0px; top: 75px; height: 10%;"), how_to_path %>




<%= render partial: "sms_overlay" %> 

  <div id="how_to">
    <span class="about_red">TOPPS PENNANT TIME CAPSULE HOW TO</span><br />
    <br />
    Relive your favorite baseball memories with the Topps Pennant Time Capsule. Share memories using the
    Topps Pennant app for iPhone or iPad and be entered to win team-based prizes like autographed photos
    and autographed baseballs. How rich is your team’s history?
    It’s easy to enter…
    <br />
    <br />
    <ol>
      <li>Use the button on this page to get the app for your iPhone or iPad.</li>
    <li>Using the app, find your favorite baseball moment.</li>
    <li>On that screen, click the share image. </li>
    <li>Enter by sharing your favorite memory, either:
      <ul>
        <li>Tweet the picture of the image using the appropriate team-based hashtag</li>
        <li>Email the picture of the image to timecapsule@topps.com, using the appropriate team-based hashtag in the subject line</li>
        <li>Post the picture of the image to the Topps Pennant Facebook Timeline at facebook.com/toppspennant</li>
      </ul>
    <li>We will collect all the entries and announce the randomly selected winner on the @toppspennant Twitter account!</li>
    </ol>
    See the Contest Rules link below for more details. Thanks for sharing!
    <br><Br><br>
    <span class="about_red">WHAT IS TOPPS PENNANT?</span> <br><br>
    Topps Pennant captures all the teams, all the games, and all the plays from last night’s game
    back to 1952. That’s nearly 60 years’ worth of baseball data brought to life and presented in
    elegant, interactive infographics on the iPad and now on the iPhone.

    With Topps Pennant, you can:
    <ul>
      <li>Check out what happened in last night’s game</li>
      <li>Chart your favorite team's performance and how they stacked up in the league from 1952 to today</li>
      <li>Relive your favorite baseball memories such as your first game, the games played on the day you were born, the game when you met your favorite player, and more</li>
      <li>Debate and solve questions around key historical moments</li>
    </ul>
    </div>

<script>
  $(document).ready(function() {
      $("#howto_open").click(function(e){
        if($("#main_content").css("display") == "none") {
          $("#main_content").show();
          $("#how_to").hide();
          $("#upper_tagline").show();
        }
        else {
          $("#main_content").hide();
          $("#how_to").show();
          $("#upper_tagline").hide();

        }

        e.preventDefault(); 


    });
      var current_team = "<%= @team_name %>";
      if(!current_team=="") {
        $(".large_team_disc#" + current_team).show();
      }
<% unless @browser.mobile? %>
    $("#app_store_link").click(function(event){
        if($("#sms_overlay").css("display") === "none") {
          $("#sms_overlay").show();
          $("#email_list_overlay").hide();

        }
        else {
          $("#sms_overlay").hide();
        }
        event.preventDefault();
    });
<% end %>


    });
</script>