
<div id="top">
	<div id="logo_box">
		<%= image_tag "pennant_logo.png", :id => "logo" %>
		<div id="header">
      <em>Add your favorite baseball memories</em><br>
			<span id="smaller">to contribute to the Summer Barnstorm scrapbook!<span>
		</div>
	</div>

</div>
<br>
<div id="side_content">

	<div id= "pitch_box">
		Win World Series Tickets and<br>
		celebrate your favorite team!
	</div>

		<%= link_to (image_tag "appstore_logo.png", :id => "appstore_logo"), "http://google.com", :id => "appstore_logo_link" %><br>
	

		<span style="font-size: .75em; padding-left: 8%;"> Available for iPhone and iPad. </span>

    <%= render partial: "social_box" %>
</div>

<div  id="main_content">

	<div id="map">
		<%= image_tag "blank_us_map.png", :id => "map" %>
		<% @teams.each do |team| %>
			<%#= blank_disc team %>
			<%#= team_logo team %>
			<%= small_team_disc_generator team %>

		<% end %>

	</div>
	<div id="news_stories">
		<span style="border-right: solid;"> <b>Recent Headlines </b></span>
  	  <span id="news_links" style="padding-left: 20px;">	
        <%= image_tag "techcrunch.png", id: "techcrunch" %>
    		<%= image_tag "intomobile.png", id: "intomobile" %>
    		<%= image_tag "nytimes.png",  id: "nytimes", :style => "top: 5px" %>
      </span>
  </div>
</div>

  <%= link_to (image_tag "howto_tab.png", :style => "float:right; position: absolute; right: 0px; top: 75px; height: 10%;"), how_to_path %>
  <%= render partial: "twitter_feed" %>




<%= render partial: "sms_overlay" %> 

