

<div id="top">
	<div id="logo_box">
		<%= image_tag "summerbarnstorm_logo.png", :id => "logo" %>
			<p><h1>Add your favorite memories</h1></p>
			<p><h1>to contribute to the Summer Barnstorm scrapbook!</h1></p>
		</h1>
	</div>

</div>
<br>
<div id="side_content">

	<div id= "pitch_box">
		Win World Series Tickets and <br>
		<em>celebrate your favorite team!</em>
	</div>

	<div id="appstore_box">
		<%= image_tag "appstore_logo.png", :id => "appstore_logo" %><br>
		Available for <b>iPhone</b> and <b>iPad.</b>
	</div>

	<div id="social_box"></div>
</div>

<div  id="main_content">

	<div id="map">
		<%= image_tag "blank_us_map.png", :id => "map" %>
		<% @teams.each do |team| %>
			<%= disc team %>
		<% end %>

	</div>
	<div id="news_stories">
		Recent Headlines:
		<%= image_tag "techcrunch.png", id: "techcrunch" %>
		<%= image_tag "intomobile.png", id: "intomobile" %>
		<%= image_tag "nytimes.png",  id: "nytimes", :style => "top: 5px" %>

	</div>

</div>



