
<%= link_to "hi magz", :redirector %>

<div id="top">
	<div id="logo_box">
		<%= image_tag "summerbarnstorm_logo.png", :id => "logo" %>
			<p><h1>Add your favorite baseball memories</h1></p>
			<p><h2>to contribute to the Summer Barnstorm scrapbook!</h2></p>
		</h1>
	</div>

</div>
<br>
<div id="side_content">

	<div id= "pitch_box">
		Win World Series Tickets and<br>
		<b>celebrate your favorite team!</b>
	</div>

	<div id="appstore_box">
		<%= link_to (image_tag "appstore_logo.png", :id => "appstore_logo" ), "#", :id => "appstore_logo_link" %><br>
		Available for <b>iPhone</b> and <b>iPad.</b>
	</div>

	<div id="social_box">

	<a href="https://twitter.com/ToppsPennant" ><%#= image_tag "follow.png" %></a>
		<%= link_to image_tag("tweet.png"), "https://twitter.com/intent/tweet?hashtags=toppspennant,mlb&original_referer=http%3A%2F%2Fsummerbarnstorm.com%2F&related=toppspennant&source=tweetbutton&text=Share%20your%20favorite%20baseball%20memories%20to%20win%20world%20series%20tickets.&url=http%3A%2F%2Fsummerbarnstorm.com%2F&original_referer=http://summerbarnstorm.com/&original_referer=http://summerbarnstorm.com/", :onclick => "OpenPopup(this.href); return false" %>
		<%= image_tag "like.png" %>
	</div>
</div>

<div  id="main_content">

	<div id="map">
		<%= image_tag "blank_us_map.png", :id => "map" %>
		<% @teams.each do |team| %>
			<%= disc team, "small" %>
		<% end %>

	</div>
	<div id="news_stories">
		Recent Headlines:
		<%= image_tag "techcrunch.png", id: "techcrunch" %>
		<%= image_tag "intomobile.png", id: "intomobile" %>
		<%= image_tag "nytimes.png",  id: "nytimes", :style => "top: 5px" %>

	</div>

</div>

<%= link_to (image_tag "howto_tab.png", :style => "float:right; position: absolute; right: 0px; top: 75px;"), how_to_path %>


<script>

function OpenPopup (c) {
window.open(c,
'window',
'width=480,height=480,scrollbars=yes,status=yes');
}

</script>



<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '#tigersmemories OR #tigersmemory OR #tigermemories OR #tigermemories',
  interval: 30000,
  title: 'It\'s a double rainbow',
  subject: 'Across the sky',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: 'none',
      color: '#ffffff'
    },
    tweets: {
      background: 'none',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    behavior: 'default'
  }
}).render().start();
</script>
	<a href="https://twitter.com/toppspennant" class="twitter-follow-button" data-show-count="true" data-size="small" data-dnt="true" data-width="99px">Follow @toppspennantt</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>






<div id="sms_overlay">
     <div>
     <h4>Enter a phone number below:</h4>
      <form action="process" method="GET">
        <input type="text" name="number" placeholder="Phone Number"><br/>
        <span>Example: +12125551212</span>
        <br/>
        <br/>
        <button type="submit">Submit</button>
      </form>
      <h5>Click here to <a href='' onclick='overlay()'>close</a></h5>
      </div>
</div>

<script>
	$("#appstore_logo_link").click(function(event){
  		alert('Hooray!');
  		$("#sms_overlay").show();
  		//event.preventDefault(); // Prevent link from following its href
	});



</script>
