
<div id="top">
	<div id="logo_box">
		<%= image_tag "summerbarnstorm_logo.png", :id => "logo" %>
			<p><h1>Add your favorite baseball memories</h1></p>
			<p><h1>to contribute to the Summer Barnstorm scrapbook!</h1></p>
		</h1>
	</div>

</div>
<br>
<div id="side_content">

	<div id= "pitch_box">
		Win World Series Tickets and <br>
		<em>celebrate your favorite team!</em>
	</div>

	<div id="appstore_box">
		<%= image_tag "appstore_logo.png", :id => "appstore_logo" %><br>
		Available for <b>iPhone</b> and <b>iPad.</b>
	</div>

	<div id="social_box">
		<%= image_tag "follow.png" %>
		<%= link_to image_tag("tweet.png"), "https://twitter.com/intent/tweet?hashtags=summerbarnstorm,mlb&original_referer=http%3A%2F%2Fsummerbarnstorm.com%2F&related=toppspennant&source=tweetbutton&text=Share%20your%20favorite%20baseball%20memories%20to%20win%20world%20series%20tickets.&url=http%3A%2F%2Fsummerbarnstorm.com%2F&original_referer=http://summerbarnstorm.com/&original_referer=http://summerbarnstorm.com/" %>
		<%= image_tag "like.png" %>
	</div>
</div>

<div  id="main_content">

	<div id="map">
		<%= image_tag "blank_us_map.png", :id => "map" %>
		<% @teams.each do |team| %>
			<%= disc team %>
		<% end %>

	</div>
	<div id="news_stories">
		Recent Headlines:
		<%= image_tag "techcrunch.png", id: "techcrunch" %>
		<%= image_tag "intomobile.png", id: "intomobile" %>
		<%= image_tag "nytimes.png",  id: "nytimes", :style => "top: 5px" %>

	</div>

</div>

<%= image_tag "howto_tab.png", :style => "float:right; position: absolute; right: 0px; top: 75px;" %>


