<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br />
    # <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  
  <div class="field">
    <%= f.label :tagline %><br />
    <%= f.text_field :tagline %>
  </div>
  <div class="field">
    <%= f.label :alternate_names %><br />
    (if you're not sure how to do this you should probably just ask me)<br>
    (because it is slightly persnickety about formatting)
    (if u just put in your text, no puncuation, separated by commmas, that will work though (promise))<br>
    (cool?  cool)<br>
    (magz)<br>
    <%= f.text_area :alternate_names %>
  </div>



  <div class="field">
    <%= f.label :promo_start_date %><br />
    <%= f.date_select :promo_start_date %>
  </div>
    <div class="field">
    <%= f.label :promo_end_date %><br />
    <%= f.date_select :promo_end_date %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
