<%= form_for(@team_datum) do |f| %>
  <% if @team_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_datum.errors.count, "error") %> prohibited this team_datum from being saved:</h2>

      <ul>
      <% @team_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :small_image %><br />
    <%= f.text_field :small_image %>
  </div>
  <div class="field">
    <%= f.label :x_map_point %><br />
    <%= f.text_field :x_map_point %>
  </div>
  <div class="field">
    <%= f.label :y_map_point %><br />
    <%= f.text_field :y_map_point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
