<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @team_datum.color %>
</p>

<p>
  <b>Small image:</b>
  <%= @team_datum.small_image %>
</p>

<p>
  <b>X map point:</b>
  <%= @team_datum.x_map_point %>
</p>

<p>
  <b>Y map point:</b>
  <%= @team_datum.y_map_point %>
</p>


<%= link_to 'Edit', edit_team_datum_path(@team_datum) %> |
<%= link_to 'Back', team_data_path %>
