<!DOCTYPE html>
<html>
<head>
  <title>Pennant</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "fonts" %>
  <%= stylesheet_link_tag "pennant_main" %>
  <%= stylesheet_link_tag "pennant_team" %>
  <link rel="shortcut icon" href=<%= asset_path "favicon.ico" %>>



  <%= csrf_meta_tags %>
</head>
<%= render partial: "main/header" %>

<body>

<%= yield %>
</body>
<%= render partial: "main/footer" %>

<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6292203-1']);
  _gaq.push(['_setDomainName', '.topps.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>

</html>
