<!DOCTYPE html>
<html>
<head>
  <title>Pennant</title>
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <![endif]-->

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "fonts" %>
  <%= stylesheet_link_tag "pennant_main" %>
  <%= stylesheet_link_tag "pennant_team" %>
  <link rel="shortcut icon" href=<%= asset_path "favicon.ico" %>>



  <%= csrf_meta_tags %>
</head>
<%= render partial: "main/header" %>

<body>

<%= yield %>
</body>
<%= render partial: "main/footer" %>

<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6292203-1']);
  _gaq.push(['_setDomainName', '.topps.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>
<% if @test %>
  <style>
    body {width: 320px;}
    #top {display: none;}
    #main_content {display: none;}
    #header {
     display: none;
    }
    #side_content {
      position: relative;
      top: 200px;
    }
    #footer {
      width: 320px;
    }
    #howto_open {display: none;}
    #footer div {
      float: left;
    }
    #footer_text {
      position: static;
      float: left;
      padding-top: 30px;
      width: auto;
    }

  </style>

<% end %>
</html>
